.vscode
.idea
*.pyc
*.iml
.terraform
*.tfstate
*.tfvars
*.tfstate.backup
venv
*.zip

CONTAINER_INSIGHTS_FINDINGS.md
EXPENSIVE_QUERIES.md
EXPENSIVE_QUERIES.pdf
HARVESTERS.md
HARVESTERS.pdf
CITY_TRAFFIC_FINDINGS.md
TOP_CLIENTS_FINDINGS.md
